SERVICE_PORT=8081
SERVICE_API_TOKEN=change-me

OPENVAS_HOST=change-me
OPENVAS_PORT=9390
OPENVAS_USERNAME=change-me
OPENVAS_PASSWORD=change-me

MISP_URL=change-me
MISP_API_KEY=change-me
MISP_VERIFY_TLS=true