SERVICE_PORT=8081
SERVICE_API_TOKEN=change-me

OPENVAS_SOCKET_PATH=/run/gvmd/gvmd.sock
OPENVAS_USERNAME=change-me
OPENVAS_PASSWORD=change-me

MISP_URL=change-me
MISP_API_KEY=change-me
MISP_VERIFY_TLS=true

MRBENNY_BASE_URL=https://projects.opti.ro/tuiasimrbenny
MRBENNY_API_KEY=tuiasi-dev

POLL_INTERVAL_SECONDS=30
